<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://staging.rexnord.com" />
    <add key="user" value="rexcomtest1@gmail.com" />
    <add key="pwd" value="comuser1" />
    <add key="browser" value="chrome" />
    <add key="drivers.dir" value="C:\driver" />
  </appSettings>
</configuration>